body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M721.98 155.39 L760.77 202.25L763.693318964787 156.501681035213z' stroke='%23d3b714' stroke-width='1.67' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M702.56 197.4a5.6 5.6 0 1 0 3.53 10.64 5.6 5.6 0 1 0-3.53-10.64zM707.6 212.59a5.6 5.6 0 1 0 3.52 10.63 5.6 5.6 0 1 0-3.52-10.63zM712.63 227.78a5.6 5.6 0 1 0 3.52 10.63 5.6 5.6 0 1 0-3.52-10.63zM717.66 242.97a5.6 5.6 0 1 0 3.52 10.63 5.6 5.6 0 1 0-3.52-10.63zM677.31 172.06a5.6 5.6 0 1 0 3.53 10.63 5.6 5.6 0 1 0-3.53-10.63zM682.34 187.25a5.6 5.6 0 1 0 3.53 10.63 5.6 5.6 0 1 0-3.53-10.63zM687.38 202.44a5.6 5.6 0 1 0 3.52 10.63 5.6 5.6 0 1 0-3.52-10.63zM692.41 217.62a5.6 5.6 0 1 0 3.52 10.64 5.6 5.6 0 1 0-3.52-10.64z' stroke='%23d3b714' stroke-width='1.78' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3ccircle r='90.08735084463747' cx='1282.66' cy='422.31' stroke='%23d3b714' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3crect width='264' height='264' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='157.11' y='283.01' fill='url(%26quot%3b%23SvgjsPattern1002%26quot%3b)' transform='rotate(144.84%2c 289.11%2c 415.01)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='1307.14' y='250.52' fill='url(%26quot%3b%23SvgjsPattern1004%26quot%3b)' transform='rotate(166.93%2c 1337.14%2c 280.52)'%3e%3c/rect%3e%3crect width='122.8' height='122.8' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='170.91' y='79.51' fill='url(%26quot%3b%23SvgjsPattern1006%26quot%3b)' transform='rotate(97.02%2c 232.31%2c 140.91)'%3e%3c/rect%3e%3crect width='185.76' height='185.76' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='1117.48' y='72.74' fill='url(%26quot%3b%23SvgjsPattern1008%26quot%3b)' transform='rotate(280.63%2c 1210.36%2c 165.62)'%3e%3c/rect%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath1009%26quot%3b)' x='703.02' y='-50.77' fill='url(%26quot%3b%23SvgjsPattern1010%26quot%3b)' transform='rotate(350.4%2c 811.02%2c 57.23)'%3e%3c/rect%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath1011%26quot%3b)' x='1255.04' y='214.01' fill='url(%26quot%3b%23SvgjsPattern1012%26quot%3b)' transform='rotate(206%2c 1363.04%2c 322.01)'%3e%3c/rect%3e%3crect width='275.6' height='275.6' clip-path='url(%26quot%3b%23SvgjsClipPath1013%26quot%3b)' x='-77.76' y='2.74' fill='url(%26quot%3b%23SvgjsPattern1014%26quot%3b)' transform='rotate(280.42%2c 60.04%2c 140.54)'%3e%3c/rect%3e%3cpath d='M317.88 424.75L318.51 411.96 331.12 409.76 331.75 396.97 344.36 394.77 344.99 381.98 357.6 379.78' stroke='%23037b0b' stroke-width='2.74' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1015%26quot%3b)' x='60.04' y='473.74' fill='url(%26quot%3b%23SvgjsPattern1016%26quot%3b)' transform='rotate(198.06%2c 126.04%2c 539.74)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='66' cx='289.11' cy='415.01'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23037b0b' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='15' cx='1337.14' cy='280.52'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='122.8' height='12.28' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3crect width='122.8' height='6.14' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='122.8' height='6.14' x='0' y='6.14' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='30.7' cx='232.31' cy='140.91'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.74' height='7.74' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3cpath d='M0 7.74L3.87 0L7.74 7.74' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='46.44' cx='1210.36' cy='165.62'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='216' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1010'%3e%3crect width='216' height='3' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='216' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1009'%3e%3ccircle r='54' cx='811.02' cy='57.23'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1012'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1011'%3e%3ccircle r='54' cx='1363.04' cy='322.01'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='275.6' height='10.6' patternUnits='userSpaceOnUse' id='SvgjsPattern1014'%3e%3crect width='275.6' height='5.3' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='275.6' height='5.3' x='0' y='5.3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1013'%3e%3ccircle r='68.9' cx='60.04' cy='140.54'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1016'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23d3b714' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1015'%3e%3ccircle r='33' cx='126.04' cy='539.74'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");}
    
    
    .form {
      background-color: #fff;
      display: block;
      padding: 1rem;
      max-width: 350px;
      border-radius: 0.5rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      margin: auto;
      margin-top: 100px;
    }
    
    .form-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }
    
    .input-container {
      position: relative;
    }
    
    .input-container input, .form button {
      outline: none;
      border: 1px solid #e5e7eb;
      margin: 8px 0;
    }
    
    .input-container input {
      background-color: #fff;
      padding: 1rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 300px;
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
    
    .submit {
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      background-color: #4F46E5;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      width: 100%;
      border-radius: 0.5rem;
      text-transform: uppercase;
    }
    
    .signup-link {
      color: #6B7280;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
    
    .signup-link a {
      text-decoration: underline;
    }
    
    